/* Fonts */

@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"),
          url("../fonts/opensans.woff2") format("woff2"),
          url("../fonts/opensans.woff") format("woff");
     font-weight: normal;
     font-style: normal;
}
   
@font-face {
     font-family: "Open Sans";
     src: local("Open Sans Light"),
          url("../fonts/opensanslight.woff2") format("woff2"),
          url("../fonts/opensanslight.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}
   
@font-face {
     font-family: "Gilroy";
     src: local("Gilroy-ExtraBold"),
          url("../fonts/gilroyextrabold.woff2") format("woff2"),
          url("../fonts/gilroyextrabold.woff") format("woff");
     font-weight: 800;
     font-style: normal;
}
   
@font-face {
     font-family: "Gilroy";
     src: local("Gilroy-Light"),
          url("../fonts/gilroylight.woff2") format("woff2"),
          url("../fonts/gilroylight.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}

/* Variables */

:root { 
     --basic-black: #000000;
     --basic-dark: #363636;
     --basic-white: #FFFFFF;
     --basic-grey: #464646;
     --basic-half-grey: #7E7E7E;
     --basic-grey-light: #E5E5E5;
     --light-gray: #C4C4C4;
     --very-light-gray:#D9D9D9;
     --special-yellow: #F7E296;
     --special-green: #91C92F;
     --special-yellow-dark: #F0C52E;
     --pale-white: rgba(255, 255, 255, 0.7);
     --white-60: rgba(255, 255, 255, 0.6);
     --white-30: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
     min-width: 960px;
     margin: 0;
     padding: 0;
     font-family: "Open Sans", Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: 300;
     color: var(--basic-black);
     background-color: var(--basic-white);
}

.page a {
     text-decoration: none;
     color: var(--basic-black);
}
   
.page img {
     max-width: 100%;
     height: auto;
}

.page ul {
     list-style: none;
}

.button {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     letter-spacing: 3.2px;
     text-transform: uppercase;
     margin: 0; 
     padding: 0; 
     border: 0; 
     outline: none; 
     background-color: transparent;
}

/* Lists */

.main-footer {
     color: var(--basic-white);
     background-color: var(--basic-dark);
}

.services-description {
     background-color: var(--basic-grey-light);
}

.visually-hidden {
     display:none;
}

/* Main navigation */

.site-navigation {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
     letter-spacing: 1.6px;
     background-color: var(--special-yellow);
     list-style: none;
}

.product-navigation {
     font-family: "Open Sans", Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: 300;
     text-transform: none;
     list-style: none;
}

.user-navigation {
     line-height: 20px;
     background-color: var(--special-yellow);
     list-style: none;
}

.site-navigation a:hover,
.product-navigation a:hover,
.user-navigation a:hover {
     opacity: 0.6;
}

.site-navigation a:focus,
.product-navigation a:focus,
.user-navigation a:focus,
a:focus h3 {
     opacity: 0.3;
}

.num {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 179px;
     line-height: 219px;
     text-transform: uppercase;
     color: var(--basic-white);
     background-color: var(--special-yellow);
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
     position: relative;
     bottom: 140px;
     right: 50px;
}

.bestsellers-list {
     list-style: none;
}

.bestsellers-benefits th {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 300;
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 1.6px;
}

.bestsellers-benefits td {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 300;
     font-size: 36px;
     line-height: 42px;
     letter-spacing: 1.6px;
}

/* Headlines */

.page h3 {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 47px;
     line-height: 58px;
     letter-spacing: 3.2px;
}

.bestsellers-item h3 {
     letter-spacing: normal;
}

.catalog-category-item h3 {
     font-size: 18px;
     line-height: 22px;
     letter-spacing: 0.8px;
}

/* Paragraphs */

.services-description-item p {
     line-height: 28px;
     letter-spacing: 1.6px;
}

.about-company p,
.contacts-company p {
     line-height: 28px;
}

.about-company ul {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 28px;
}

/*Footer navigation */

.footer-site-navigation-wrapper {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
     letter-spacing: 1.6px;
}

.footer-site-navigation-wrapper :first-child,
.footer-social-wrapper :first-child {
     color: var(--basic-white);
}

.footer-user-navigation-wrapper :first-child {
     color: var(--pale-white);
}


/* Breadcrumbs */

.breadcrumbs {
     list-style: none;
}
   
.breadcrumbs a {
     font-size: 14px;
     line-height: 19px;
     color: var(--basic-black);
     opacity: 0.3;
}
   
.breadcrumbs a:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.breadcrumbs a:focus {
     color: var(--basic-black);
     opacity: 0.1;
}

/* Sorting */

.sorting {
     list-style: none;
}

.sorting a {
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: var(--basic-black);
     opacity: 0.3;
}

.sorting a:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.sorting a:focus {
     color: var(--basic-black);
     opacity: 1;
} 

.sort-by-price a {
     color: var(--basic-black);
     opacity: 1;
}

/* Page catalog container */

.page-catalog-title {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 47px;
     line-height: 58px;
}

div .page-catalog-subtitle {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 1.6px;
     text-transform: uppercase;
}

.product-filter {
     background-color: var(--very-light-gray);
}

.sorting {
     background-color: var(--light-gray);
}

.price {
     font-family: Gilroy;
     font-weight: 300;
     font-size: 16px;
     line-height: 18px;
     letter-spacing: 0.8px;
}

.compare {
     color: var(--basic-black);
     opacity: 0.5;
     font-size: 13px;
     line-height: 18px;
     letter-spacing: 1.6px;
     margin: 0; 
     padding: 0; 
     border: 0; 
     outline: none; 
     background-color: transparent;
}

.compare:hover {
     color: var(--basic-black);
     opacity: 1;
}

.compare:focus {
     color: var(--basic-black);
     opacity: 0.2;
}

.page-button {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 1.6px;
     text-transform: uppercase;
     background-color: var(--basic-grey-light);
}

.page-number {
     color: var(--basic-black);
     opacity: 0.3;
}

.page-number:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.page-1 {
     color: var(--basic-black);
     opacity: 1;
}

.page-number:focus {
     color: var(--basic-black);
     opacity: 1;
}

.page-back:hover,
.page-forward:hover {
     background-color: var(--very-light-gray);
}

.page-back:focus,
.page-forward:focus {
     color: var(--basic-black);
     opacity: 0.3;
     background-color: var(--very-light-gray);
}

.footer-site-navigation-wrapper a:hover {
     color: var(--white-60);
}

.footer-site-navigation-wrapper a:focus {
     color: var(--white-30);
}

.footer-user-navigation-wrapper a:hover {
     color: var(--basic-white);
}

.footer-user-navigation-wrapper a:focus {
     color: var(--white-30);
}

/* Grid body & header */

.page {
     height: 100%;
}

.page-body {
     min-height: 100%;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;
}

.main-navigation-wrapper {
     width: 1160px;
     height: 344px;
     margin: 0 auto;
     padding: 0;
   }

.main-navigation-wrapper .container {
     background: var(--special-yellow);
     width: 1160px;
     height: 300px;
}

.main-navigation{
     display: grid;
     grid-template-rows: min-content min-content 1fr;
     margin-top: 20px;
     margin-bottom: 24px;
}

.main-header-logo {
     position: relative;
     bottom: 20px;
     left: 60px;
}

/* Flex main navigation */

.site-navigation-wrapper {
     order: 1;
}

.site-navigation-wrapper .site-navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 1040px;
     margin: 0 auto;
     padding: 0;
}

.site-navigation li:first-child {
     flex-grow: 1;
}

.site-navigation li:nth-child(3) {
     margin-left: 38px;
}

.site-navigation li:nth-child(4) {
     margin-left: 111px;
}

.user-navigation-wrapper .user-navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 500px;
     margin-top: 29px;
     margin-right: 60px;
     margin-bottom: 50px;
     margin-left: 600px;
}

.user-navigation li:first-child {
     flex-grow: 1;
}

.user-navigation li:nth-child(3) {
     margin-left: 41px;
}

.user-navigation a {
     display: flex;
}

.login-link::before {
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("img/icon_user.svg");
}

.compare-list::before {
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("img/icon_chart.svg");
}

.basket::before {
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("img/icon_cart.svg");
}

/* Grid slider */

.bestsellers-item {
     display: grid;
     grid-template-columns: 1fr 1fr min-content;
     grid-template-rows: min-content min-content min-content min-content;
     width: 1024px;
     height: 506px;
     margin: 0 auto;
     padding: 0;
}

.bestsellers-image {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 5;
}

.bestsellers-item h3 {
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end:2;
}

.bestsellers-description {
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
}

.bestsellers-item table {
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 4;
     grid-row-end: 5;
}

.slider-1,
.slider-2,
.slider-3 {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 3;
     grid-row-end: 4;
}

/* Grid catalog */
/*
.catalog-category-list {
     list-style: none;
     display: grid;
     grid-template-columns: 160px 160px 160px 160px 160px 160px;
     column-gap: 40px;
     width: 1160px;
     height: 282px;
     margin: 0 auto;
     padding: 0; 
}
*/

/*Grid services */

.services-filling {
     display: grid;
     grid-template-columns: min-content 1fr;
     width: 1158px;
     height: 188px;
     margin: 0 auto;
     padding: 0;
}

.services-conteiner-background {
     background-color: var(--basic-grey-light);
     height: 288px;
}

/* Grid partners */

.partnership-list {
     list-style: none;
     display: grid;
     gap: 40px;
     grid-template-columns: 260px 260px 260px 260px;
     width: 1160px;
     height: 100px;
     margin-top: 90px;
     margin-right: auto;
     margin-left: auto;
     padding: 0 20px;
}


/* Grid contacts */

.about-company {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 127px;
     width: 1160px;
     margin: 0 auto;
     padding: 0;
}

/* Grid footer */

.main-footer {
     background-color: var(--basic-dark);
     height: 324px; 
}

.footer-conteiner-background {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     width: 1160px;
     margin: 0 auto;
}

.footer-site-navigation-wrapper {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 3;
}

.footer-user-navigation-wrapper {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
}

.footer-social-wrapper {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;
}

.html-logo {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 3;
     grid-row-end: 4;
}

.address {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 3;
}

.phone {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
     margin-left: 205px;
     width: 164px;
     height: 20px;
}

/* Grid catalog page */

.catalog-section {
     display: grid;
     grid-template-columns: 348px 1fr;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;
     width: 1160px;
     margin: 0 auto;
     padding: 0;
}

.product-filter {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 4;     
}

.sorting {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 2;     
}

.product-list {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 3;
}

.page-navigation {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;     
}

/* Grid title-conteiner */

.title-conteiner {
     display: grid; 
     grid-template-rows: 1fr min-content;
     width: 1160px;
     margin: 44px auto;
     padding: 0;
}

/* Grid product-list */

.catalog-list {
     list-style: none;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}

/* Flex catalog category list */

.catalog-category-list {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 1160px;
     margin: auto;
}

.catalog-category-item {
     display: flex;
     width: 160px;
}

.catalog-category-item a {
     display: flex;
     flex-direction: column;
}

.catalog-category-item a h3 {
     order: 1;
}

/* Flex table "Bestsellers benefits" */



/* Flex table "services description navigation" */

.services-description-navigation nav {
     display: flex;
     flex-direction: column;
     margin-top: 95px;
}

/* Flex footer */

.footer-user-navigation-wrapper {
     display: flex;
}

.footer-user-navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 325px;
     margin: auto;
     padding: 0;
}

.footer-user-navigation li:nth-child(3) {
     margin-right: 0;
}

.login-link::before {
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("img/icon_user.svg");
}

.compare-list::before {
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("img/icon_chart.svg");
}

.basket::before {
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("img/icon_cart.svg");
}

.footer-site-navigation-wrapper {
     display: flex;
}

.footer-site-navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 423px;
     margin: auto;
     padding: 0;
}

.footer-social-wrapper {
     display: flex;
}

.footer-social {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 136px;
     margin: auto;
     padding: 0;
}
