/*Fonts*/

@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"),
          url("../fonts/opensans.woff2") format("woff2"),
          url("../fonts/opensans.woff") format("woff");
     font-weight: normal;
     font-style: normal;
}
   
@font-face {
     font-family: "Open Sans";
     src: local("Open Sans Light"),
          url("../fonts/opensanslight.woff2") format("woff2"),
          url("../fonts/opensanslight.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}
   
@font-face {
     font-family: "Gilroy";
     src: local("Gilroy-ExtraBold"),
          url("../fonts/gilroyextrabold.woff2") format("woff2"),
          url("../fonts/gilroyextrabold.woff") format("woff");
     font-weight: 800;
     font-style: normal;
}
   
@font-face {
     font-family: "Gilroy";
     src: local("Gilroy-Light"),
          url("../fonts/gilroylight.woff2") format("woff2"),
          url("../fonts/gilroylight.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}

/* Variables */

:root { 
     --basic-black: #000000;
     --basic-dark: #363636;
     --basic-white: #FFFFFF;
     --basic-grey: #464646;
     --basic-half-grey: #7E7E7E;
     --basic-grey-light: #E5E5E5;
     --light-gray: #C4C4C4;
     --very-light-gray:#D9D9D9;
     --special-yellow: #F7E296;
     --special-green: #91C92F;
     --special-yellow-dark: #F0C52E;
     --pale-white: rgba(255, 255, 255, 0.7);
     --white-60: rgba(255, 255, 255, 0.6);
     --white-30: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
     min-width: 960px;
     margin: 0;
     padding: 0;
     font-family: "Open Sans", Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: 300;
     color: var(--basic-black);
     background-color: var(--basic-white);
}

.page a {
     text-decoration: none;
     color: var(--basic-black);
}
   
.page img {
     max-width: 100%;
     height: auto;
}

.page ul {
     list-style: none;
}

.button {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     letter-spacing: 3.2px;
     text-transform: uppercase;
}

.button a:focus {
     color: var(--basic-black);
     opacity: 0.3;
}

/*Lists*/

.main-footer {
     color: var(--basic-white);
     background-color: var(--basic-dark);
}

.services-description {
     background-color: var(--basic-grey-light);
}

.visually-hidden {
     display:none;
}

/* Main navigation */

.site-navigation {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
     letter-spacing: 1.6px;
     background-color: var(--special-yellow);
}

.product-navigation {
     font-family: "Open Sans", Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: 300;
     text-transform: none;
}

.user-navigation {
     line-height: 20px;
     background-color: var(--special-yellow);
}

.site-navigation a:hover,
.product-navigation a:hover,
.user-navigation a:hover {
     opacity: 0.6;
}

.site-navigation a:focus,
.product-navigation a:focus,
.user-navigation a:focus,
a:focus h3 {
     opacity: 0.3;
}

.num {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 179px;
     line-height: 219px;
     text-transform: uppercase;
     color: var(--basic-white);
     background-color: var(--special-yellow);
}

.bestsellers-list {
     list-style: none;
}

.bestsellers-benefits th {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 300;
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 1.6px;
}

.bestsellers-benefits td {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 300;
     font-size: 36px;
     line-height: 42px;
     letter-spacing: 1.6px;
}

/* Headlines */

.page h3 {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 47px;
     line-height: 58px;
     letter-spacing: 3.2px;
}

.bestsellers-item h3 {
     letter-spacing: normal;
}

.catalog-category-item h3 {
     font-size: 18px;
     line-height: 22px;
     letter-spacing: 0.8px;
}

/* Paragraphs */

.services-description-item p {
     line-height: 28px;
     letter-spacing: 1.6px;
}

.about-company p,
.contacts-company p {
     line-height: 28px;
}

.about-company ul {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 28px;
}

/*Footer navigation */

.footer-site-navigation {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
     letter-spacing: 1.6px;
}

.footer-site-navigation :first-child,
.footer-social :first-child {
     color: var(--basic-white);
}

.footer-user-navigation :first-child {
     color: var(--pale-white);
}

/* Breadcrumbs */

.breadcrumbs {
     list-style: none;
}
   
.breadcrumbs a {
     color: var(--basic-black);
     opacity: 0.3;
}
   
.breadcrumbs a:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.breadcrumbs a:focus {
     color: var(--basic-black);
     opacity: 0.1;
}

/* Sorting */

.sorting {
     list-style: none;
}

.sorting a {
     color: var(--basic-black);
     opacity: 0.3;
}

.sorting a:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.sorting a:focus {
     color: var(--basic-black);
     opacity: 1;
} 

/* Page catalog container */

.page-catalog-title {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 47px;
     line-height: 58px;
}

div .page-catalog-subtitle {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 1.6px;
     text-transform: uppercase;
}

.product-filter {
     background-color: var(--very-light-gray);
}

.sorting {
     background-color: var(--light-gray);
}

.price {
     font-family: Gilroy;
     font-weight: 300;
     font-size: 16px;
     line-height: 18px;
     letter-spacing: 0.8px;
}

.compare {
     color: var(--basic-black);
     opacity: 0.5;
     font-size: 13px;
     line-height: 18px;
     letter-spacing: 1.6px;
     margin: 0; 
     padding: 0; 
     border: 0; 
     outline: none; 
     background-color: transparent;
}

.compare:hover {
     color: var(--basic-black);
     opacity: 1;
}

.compare:focus {
     color: var(--basic-black);
     opacity: 0.2;
}

.page-button {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 1.6px;
     text-transform: uppercase;
     background-color: var(--basic-grey-light);
}

.page-number {
     color: var(--basic-black);
     opacity: 0.3;
}

.page-number:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.page-number:focus {
     color: var(--basic-black);
     opacity: 1;
}

.page-back:hover,
.page-forward:hover {
     background-color: var(--very-light-gray);
}

.page-back:focus,
.page-forward:focus {
     color: var(--basic-black);
     opacity: 0.3;
     background-color: var(--very-light-gray);
}

.footer-site-navigation a:hover {
     color: var(--white-60);
}

.footer-site-navigation a:focus {
     color: var(--white-30);
}

.footer-user-navigation a:hover {
     color: var(--basic-white);
}

.footer-user-navigation a:focus {
     color: var(--white-30);
}
