/* Fonts */

@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"),
          url("../fonts/opensans.woff2") format("woff2"),
          url("../fonts/opensans.woff") format("woff");
     font-weight: normal;
     font-style: normal;
}
   
@font-face {
     font-family: "Open Sans";
     src: local("Open Sans Light"),
          url("../fonts/opensanslight.woff2") format("woff2"),
          url("../fonts/opensanslight.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}
   
@font-face {
     font-family: "Gilroy";
     src: local("Gilroy-ExtraBold"),
          url("../fonts/gilroyextrabold.woff2") format("woff2"),
          url("../fonts/gilroyextrabold.woff") format("woff");
     font-weight: 800;
     font-style: normal;
}
   
@font-face {
     font-family: "Gilroy";
     src: local("Gilroy-Light"),
          url("../fonts/gilroylight.woff2") format("woff2"),
          url("../fonts/gilroylight.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}

/* Variables */

:root { 
     --basic-black: #000000;
     --basic-dark: #363636;
     --basic-white: #FFFFFF;
     --basic-grey: #464646;
     --basic-half-grey: #7E7E7E;
     --basic-grey-light: #E5E5E5;
     --light-gray: #C4C4C4;
     --very-light-gray:#D9D9D9;
     --special-yellow: #F7E296;
     --special-green: #91C92F;
     --special-yellow-dark: #F0C52E;
     --pale-white: rgba(255, 255, 255, 0.7);
     --white-60: rgba(255, 255, 255, 0.6);
     --white-30: rgba(255, 255, 255, 0.3);
     --pure-yellow: #FFC600;
}

/* Global */

body {
     min-width: 1440px;
     margin: 0;
     padding: 0;
     font-family: "Open Sans", Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: 300;
     color: var(--basic-black);
     background-color: var(--basic-white);
}

.page a {
     text-decoration: none;
     color: var(--basic-black);
}
   
.page img {
     max-width: 100%;
     height: auto;
}

.page ul {
     list-style: none;
     padding-left: 0;
}

.button {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     letter-spacing: 3.2px;
     text-transform: uppercase;
     margin: 0; 
     padding: 0; 
     border: 0; 
     outline: none; 
     background-color: transparent;
     padding: 0 43px;
     position: relative;
}

.button::after {
     position: absolute;
     content: "";
     background-color: var(--special-yellow-dark);
     width: 100%;
     height: 8px;
     left: 0;
     top: 7px;
     z-index: -1;
 }

.button:hover {
     background-color: var(--special-yellow-dark);
     background-size: 40px auto;
}

.services-description-navigation .button:focus {
     background-color: var(--basic-black);
     color: var(--special-yellow);
}

/* Lists */

.main-footer {
     color: var(--basic-white);
     background-color: var(--basic-dark);
}

.services-description {
     background-color: var(--basic-grey-light);
     padding-bottom: 96px;
}

.services-description-navigation::after {
     position: absolute;
     content: "";
     width: 6px;
     height: 320px;
     background-color: var(--basic-black);
     top: -1px;
     left: 277px;
}

.services-description .button {
     width: 160px;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

/* Main navigation */

.user-navigation-wrapper {
     display: flex;
     margin-bottom: -20px;
     padding: 25px 0;
}

.search {
     margin-right: 377px;
}

.site-navigation {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
     letter-spacing: 3.6px;
     background-color: var(--special-yellow);
     list-style: none;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 1040px;
     margin: 0 auto;
     padding: 0;  
}

.catalog-button {
     position: relative;
}

.catalog-button::after {
     position: absolute;
     content: "";
     background-image: url("../img/icon_plus.svg");
     fill: var(--basic-black);
     opacity: 0.3;
     top: -1px;
     width: 22px;
     height: 22px;
     right: 277px;
     background-repeat: no-repeat;
}

.product-navigation {
     font-family: "Open Sans", Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: 300;
     text-transform: none;
     list-style: none;
}

.user-navigation {
     line-height: 20px;
     background-color: var(--special-yellow);
     list-style: none;
     padding: 0 0 0 25px;
     margin: 0;
     width: 500px;
     height: 20px;
     box-sizing: border-box;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-left: auto;
}

.site-navigation a:hover,
.product-navigation a:hover,
.user-navigation a:hover {
     opacity: 0.6;
}

.site-navigation a:focus,
.product-navigation a:focus,
.user-navigation a:focus,
a:focus h3,
a.button:focus {
     opacity: 0.3;
}

.num {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 179px;
     line-height: 219px;
     text-transform: uppercase;
     color: var(--basic-white);
     position: relative;
     bottom: 140px;
     right: 50px;
}

.bestsellers-list {
     position: relative;
     list-style: none;
     width: 1160px;
     display: flex;
     justify-content: flex-end;
     padding: 0;
     margin: -130px auto 113px;
     background-image: url("../img/slider-1 1.png");
     background-repeat: no-repeat;
     background-position: 90px 0;
}

.slide-wrapper {
     z-index: 1;
}


.bestsellers-benefits th {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 300;
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 1.6px;
}

.bestsellers-benefits td {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 300;
     font-size: 36px;
     line-height: 42px;
     letter-spacing: 3px;
     padding-right: 62px;
     padding-bottom: 15px;
}

/* Headlines */

.page h3 {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 47px;
     line-height: 58px;
     letter-spacing: 9.2px;
}

.bestsellers-item h3 {
     letter-spacing: normal;
}

.catalog-category-item h3 {
     font-size: 18px;
     font-style: normal;
     line-height: 22px;
     letter-spacing: 0;
}

/* Paragraphs */

.services-description-item p {
     line-height: 28px;
     letter-spacing: 1.6px;
}

.about-company h3 {
     margin-bottom: 41px;
}

.about-company p {
     line-height: 28px;
     letter-spacing: -0.1px;
     margin-bottom: 41px;
}

.logistics {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 28px;
     margin-left: 32px;
     padding-top: 18px;
     margin-bottom: 76px;
}

.logistics li {
     margin-bottom: 15px;
}

.about-us-button {
     letter-spacing: 3.6px;
     margin-left: -19px;
}

.contacts {
     padding-top: 62px;
}

/*Footer navigation */

.footer-site-navigation-wrapper {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 22px;
     text-transform: uppercase;
     letter-spacing: 1.6px;

     padding-top: 91px;
     margin-bottom: 69px;
}

.footer-site-navigation-wrapper :first-child,
.footer-social-wrapper :first-child {
     color: var(--basic-white);
}

.footer-user-navigation-wrapper :first-child {
     color: var(--pale-white);
}

.footer-social li

/* Breadcrumbs */

.breadcrumbs {
     list-style: none;
}
   
.breadcrumbs a {
     font-size: 14px;
     line-height: 19px;
     color: var(--basic-black);
     opacity: 0.3;
}
   
.breadcrumbs a:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.breadcrumbs a:focus {
     color: var(--basic-black);
     opacity: 0.1;
}

/* Sorting */

.sorting-wrapper {
     list-style: none;
}

.sorting-wrapper a {
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: var(--basic-black);
     opacity: 0.3;
}

.sorting-wrapper a:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.sorting-wrapper a:focus {
     color: var(--basic-black);
     opacity: 1;
} 

.sort-by-price a {
     color: var(--basic-black);
     opacity: 1;
}

/* Page catalog container */

.page-catalog-title {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 47px;
     line-height: 58px;
}

div .page-catalog-subtitle {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 1.6px;
     text-transform: uppercase;
}

.product-filter {
     background-color: var(--very-light-gray);
}

.sorting-wrapper {
     background-color: var(--light-gray);
}

.price {
     font-family: Gilroy;
     font-weight: 300;
     font-size: 16px;
     line-height: 18px;
     letter-spacing: 0.8px;
}

.compare {
     color: var(--basic-black);
     opacity: 0.5;
     font-size: 13px;
     line-height: 18px;
     letter-spacing: 1.6px;
     margin: 0; 
     padding: 0; 
     border: 0; 
     outline: none; 
     background-color: transparent;
}

.compare:hover {
     color: var(--basic-black);
     opacity: 1;
}

.compare:focus {
     color: var(--basic-black);
     opacity: 0.2;
}

.page-button {
     font-family: "Gilroy", Tahoma, sans-serif;
     font-weight: 800;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 1.6px;
     text-transform: uppercase;
     background-color: var(--basic-grey-light);
}

.page-number {
     color: var(--basic-black);
     opacity: 0.3;
}

.page-number:hover {
     color: var(--basic-black);
     opacity: 0.6;
}

.page-1 {
     color: var(--basic-black);
     opacity: 1;
}

.page-number:focus {
     color: var(--basic-black);
     opacity: 1;
}

.page-back:hover,
.page-forward:hover {
     background-color: var(--very-light-gray);
}

.page-back:focus,
.page-forward:focus {
     color: var(--basic-black);
     opacity: 0.3;
     background-color: var(--very-light-gray);
}

.footer-site-navigation-wrapper a:hover {
     color: var(--white-60);
}

.footer-site-navigation-wrapper a:focus {
     color: var(--white-30);
}

.footer-user-navigation-wrapper a:hover {
     color: var(--basic-white);
}

.footer-user-navigation-wrapper a:focus {
     color: var(--white-30);
}

/* Grid body & header */

.page {
     height: 100%;
}

.page-body {
     min-height: 100%;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;
}

.main-navigation-wrapper {
     width: 1160px;
     margin: 0 auto;
     padding: 0;
   }

.main-navigation-wrapper .container {
     background: var(--special-yellow);
     margin-top: 50px;
     width: 1160px;
     height: 300px;
}

.main-navigation {
     display: flex;
     flex-direction: column;
     margin-top: 6px;
     margin-right: 61px;
     margin-left: auto;
     margin-bottom: 50px;
     padding: 0;
     margin-left: 60px;
}

.main-header-logo {
     margin-top: -20px;
}

/* Flex main navigation */

.site-navigation-wrapper {
     order: 1;
     margin-top: 23px;
}

.site-navigation li:first-child {
     flex-grow: 1;
}

.site-navigation li:nth-child(3) {
     margin-left: 38px;
}

.site-navigation li:nth-child(4) {
     margin-left: 111px;
}

.user-navigation li:first-child {
     flex-grow: 1;
}

.user-navigation li:nth-child(3) {
     margin-left: 41px;
}

.site-navigation a,
.user-navigation a {
     display: block;
}

.login-link,
.compare-list,
.basket {
     position: relative;
   }

.login-link::before {
     position: absolute;
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("../img/icon_user.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     top: 4px;
     left: -24px;
}

.compare-list::before {
     position: absolute;
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("../img/icon_chart.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     top: 5px;
     left: -24px;
}

.basket::before {
     position: absolute;
     content: "";
     width: 14px;
     height: 14px;
     background-image: url("../img/icon_cart.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     top: 5px;
     left: -21px;
}

/* Grid slider */

.bestsellers-item {
     display: flex;
     flex-direction: column;
     width: 560px;
     padding-top: 46px;
}

.bestseller-line {
     border-bottom: 8px solid white;
     height: 62px;
     width: 100px;
     position: absolute;
     top: -29px;
}

.bestsellers-image {
     position: absolute;
     transform: translateY(122px) translateX(-510px);
}

.num {
     width: 182px;
     height: 170px;
     position: absolute;
     top: -17px;
     right: 46px;
}

.bestsellers-description {
     margin-top: -17px;
     margin-bottom: 60px;
}

.slider-navigation {
     display: flex;
     justify-content: space-between;
     margin-top: 46px;
}

.slider-navigation p {
     margin-top: 0;
     margin-left: 46px;
}

.slider-controls {
     display: flex;
     width: 72px;
     justify-content: space-between;
     position: absolute;
     left: 1000px;
     top: 342px;
}

.slider-controls button {
     padding: 0;
     width: 12px;
     height: 12px;
     background-color: transparent;
     border: 2px solid var(--basic-black);
     border-radius: 50%;
     cursor: pointer;
}

.slider-controls .current {
     background: url(../img/slider-button.png);
     background-position: 10px;
}

.site-wrapper {
     position: relative;
     width: 1160px;
     margin: 0 auto;
}

/* Grid services */

.services-filling {
     display: grid;
     grid-template-columns: 280px 1fr;
     width: 1158px;
     height: 188px;
     margin: 0 auto;
     padding: 0;
     position: relative;
     top: -101px;
}

/* Grid partners */

.partnership-list {
     list-style: none;
     display: grid;
     gap: 40px;
     grid-template-columns: 260px 260px 260px 260px;
     width: 1160px;
     height: 100px;
     margin: 90px auto 90px;
     padding: 0 0;
}

ul.partnership-list a:hover {
     filter: grayscale(100%);
     -webkit-filter: grayscale(100%);
     opacity: 0.3;
}

/* Grid contacts */

.about-company {
     display: flex;
     width: 1160px;
     margin: 0 auto 40px;
     padding-top: 12px;
}

.about-us {
     margin-right: 134px;
     position: relative;
}

.about-us::before {
     position: absolute;
     content: "";
     width: 80px;
     height: 7px;
     background-color: var(--basic-black);
     background-repeat: no-repeat;
     background-position: 0 0;
     top: -12px;
     left: 0px;
}

.contacts-company {
     position: relative;
}

.contacts-company::before {
     position: absolute;
     content: "";
     width: 80px;
     height: 7px;
     background-color: var(--basic-black);
     background-repeat: no-repeat;
     background-position: 0 0;
     top: -12px;
     left: 0px;
}

/* Grid footer */

.main-footer {
     background-color: var(--basic-dark);
     padding-top: 47px;
     padding-bottom: 154px;
}

.footer-conteiner {
     display: flex;
     width: 1160px;
     margin: auto;
}

.logo-yellow {
     fill: var(--special-yellow-dark);
     padding-top: 17px;
     margin-bottom: 23px;
}

.footer-conteiner-wrapper-1 {
     display: flex;
     flex-direction: column;
     margin-right: 165px;
}

.footer-conteiner-wrapper-2 {
     margin-right: 44px;
}

.footer-conteiner-wrapper-3 {
     display: flex;
     flex-direction: column;
}

.footer-conteiner-wrapper-1 span {
     border-bottom: 8px solid var(--pure-yellow);
     height: 62px;
     width: 80px;
}

.phone {
     text-align: right;
     margin-bottom: 66px;
}

.html-logo {
     text-align: right;
}

/* Grid catalog page */

.catalog-section {
     display: grid;
     grid-template-columns: 348px 1fr;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;
     width: 1160px;
     margin: 0 auto;
     padding: 0;
}

.product-filter {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 4;     
}

.sorting-wrapper {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 2;     
}

.product-list {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 3;
}

.page-navigation {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;     
}

/* Grid title-conteiner */

.title-conteiner {
     display: grid; 
     grid-template-rows: 1fr min-content;
     width: 1160px;
     margin: 44px auto;
     padding: 0;
}

/* Grid product-list */

.catalog-list {
     list-style: none;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}

.catalog-item h3 {
     font-size: 18px;
     line-height: 22px;
     letter-spacing: 0.8px;
}

/* Flex catalog category list index page */

.catalog-category {
     margin-bottom: 170px;
}

.catalog-category-list {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 1160px;
     margin: auto;
}

.catalog-category-item {
     display: flex;
     width: 160px;
}

.catalog-category-item a {
     display: flex;
     flex-direction: column;
}

.catalog-category-item a h3 {
     display: flex;
     justify-content: flex-start;
     order: 1;
}

.catalog-category-item p {
     display: flex;
     justify-content: center;
     background-color: var(--special-yellow);
     width: 160px;
     height: 160px;
     margin-top: 0;
     margin-bottom: 21px;
}

.catalog-category-item p:hover {
     background-color: var(--special-yellow-dark);
}

.catalog-category-item p:focus,
.catalog-category-item a:focus {
     opacity: 0.3;
}

/* Flex table "Bestsellers benefits" */

.bestsellers-benefits {
     order: 1;
     display: flex;
     margin-top: 60px;
}

/* Flex table "services description navigation" */

.services-description-navigation nav {
     display: flex;
     flex-direction: column;
     margin-top: 79px;
}

.services-button {
     padding: 9px 5px 10px 17px;
     margin-bottom: 21px;
}

.guarantee-services-button {
     position: relative;
     left: 6px;
}

.credit-services-button {
     position: relative;
     left: 20px;
}

li.services-description-item {
     padding-left: 120px;
     padding-top: 4px;
     background-image: url("../img/delivery.svg");
     background-repeat: no-repeat;
     background-position: right 53px;
 }

/* Flex footer */

.footer-user-navigation-wrapper {
     display: flex;
}

.footer-user-navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 325px;
     margin: 0 auto 59px;
     padding: 0;
}

.footer-user-navigation li:nth-child(3) {
     margin-right: 0;
}

.footer-user-navigation li {
     padding-left: 24px;
}

.footer-site-navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 423px;
     margin: auto;
     padding: 0;
}

.footer-social-wrapper {
     display: flex;
}

.footer-social {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 136px;
     margin: auto;
     padding: 0;
}

/* Flex breadcrumbs */

.breadcrumbs {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
}

.breadcrumbs li {
     display: flex;
     margin-right: 14px;
}

.breadcrumbs li:not(:last-child):after {
     content: "";
     width: 12px;
     height: 12px;
     background-image: url("../img/icon_arrow_nav.svg");
}

/* Flex sorting */

.sorting-wrapper {
     display: flex;
     flex-direction: row;
     height: 70px;
}

.sorting {
     display: flex;
     flex-direction: row;
     flex-grow: 1;
}

.sorting li {
     display: flex;
     flex-direction: row;
     margin-right: 14px;
}

.up-dir {
     content: url("../img/icon_up_dir.svg");
     margin-left: auto;
}

.down-dir {
     content: url("../img/icon_down_dir.svg");
}

/* Flex product-list */

.catalog-item {
     display: flex;
}

.catalog-item a {
     display: flex;
     flex-direction: column-reverse;
} 

.page-button {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
